<template name="cards_tumblr_text">
	<div class="post">
		<article class="story">
			<h1>
				{{title}}
			</h1>
			<div class="post-text">
				{{{body}}}
			</div>
			<time datetime="{{jsTimestamp}}">
				{{formattedDateFromTS js_timestamp "MMM Do, YYYY"}}
			</time>
		</article>
	</div>
</template>

<template name="cards_tumblr_photo">
	<div class="post">
		<article class="story">
			<h1>
				{{title}}
			</h1>
			<div class="post-images">
				<i class="icon-loading"></i>
				{{#each photos}}
					{{#with itemAtIndex this.alt_sizes 0}}
						<img data-src="{{url}}" width="100%" height="auto" alt="{{title}}" />
					{{/with}}
				{{/each}}
			</div>
			<div class="post-text">
				{{{caption}}}
			</div>
			<ol class="post-tags">
				{{#each tags}}
					<li>
						#{{this}}
					</li>
				{{/each}}
			</ol>
			<time datetime="{{jsTimestamp}}">
				{{formattedDateFromTS js_timestamp "MMM Do, YYYY"}}
			</time>
		</article>
	</div>
</template>