<template name="components_social">
	<section class="social">
		<ol>
			<li>
				<a href="http://www.facebook.com/crymonstercry" title="Cry Monster Cry on Facebook">
					<i class="icon-facebook">
					</i>
				</a>
			</li>
			<li>
				<a href="http://www.twitter.com/crymonstercry" title="Cry Monster Cry on Twitter">
					<i class="icon-twitter">
					</i>
				</a>
			</li>
			<li>
				<a href="http://instagram.com/crymonstercry" title="Cry Monster Cry on Instagram">
					<i class="icon-instagram">
					</i>
				</a>
			</li>
			<li>
				<a href="http://crymonstercry.tumblr.com/" title="Cry Monster Cry on Tumblr">
					<i class="icon-tumblr">
					</i>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/user/CryMonsterCry" title="Cry Monster Cry on Youtube">
					<i class="icon-youtube">
					</i>
				</a>
			</li>
			<li>
				<a href="https://soundcloud.com/crymonstercry" title="Cry Monster Cry on SoundCloud">
					<i class="icon-soundcloud">
					</i>
				</a>
			</li>
		</ol>
	</section>
</template>