<template name="views_landing">
	<section class="content" id="{{view}}">
		<div class="feature">
			<!-- Featured release artwork -->
			<figure>
				<img src="{{releaseArtwork.fields.file.url}}" />
				<figcaption>
					{{release.fields.description}}
				</figcaption>
			</figure>
			<!-- Links to purchase -->
			<ol>
				<li>
					<a href="#" title="" rel="external">
						<img width="100" height="40" src="/images/vendors/itunes.png" alt="" />
					</a>
				</li>
				<li>
					<a href="#" title="" rel="external">
						<img width="100" height="40" src="/images/vendors/amazon.png" alt="" />
					</a>
				</li>

				{{#each releaseLinks}}
					<li>
						{{> cards_link}}
					</li>
				{{/each}}
			</ol>
			<!-- Mailing list signup -->
			{{> components_signup}}
		</div>
	</section>
</template>