<template name="views_landing">
	<section class="content" id="{{view}}">
		<div class="feature">
			<!-- Featured release artwork -->
			<figure>
				<img src="{{releaseArtwork.fields.file.url}}" />
				<figcaption>
					{{release.fields.description}}
				</figcaption>
			</figure>
			<!-- Links to purchase -->
			<ol>
				{{#each releaseLinks}}
					<li>
						{{> cards_link}}
					</li>
				{{/each}}
			</ol>
			<!-- Mailing list signup -->
			{{> components_signup}}
		</div>

		<!-- {{releaseArtwork}}

		{{releaseLinks}} -->
	</section>
</template>