<template name="views_landing">
	<section class="content" id="{{view}}">
		<img src="/images/albumcover.jpg" width="50%" height="auto" />
		<ul>
			<li>
				<a href="https://itunes.apple.com/ie/artist/cry-monster-cry/id524269253" title="Cry Monster Cry on iTunes">
					<img src="/images/available-on-itunes.svg" width="131" height="50" />
				</a>
			</li>
			<li>
				<a href="https://play.spotify.com/artist/6FkLdpLelRlySjpOEZzDTl" title="Cry Monster Cry on iTunes">
					<img src="/images/spotify.png" width="168" height="50" />
				</a>
			</li>
		</ul>
	</section>
	{{> components_social}}
</template>