<template name="views_photos">
	<section class="content" id="{{view}}">
		<div class="photos">
			<!-- Add in the press shots first -->
			<div class="press-shots">
				<div class="sliderContainer">
					<div class="slider" style="width: {{sliderWidth}}%">
						{{#each pressShots}}
							<div class="slide">
								{{> cards_pressshot}}
							</div>
						{{/each}}
					</div>
					<button class="paddle hidden" id="left" data-direction="previous">
						<i class="icon-arrow-left"></i>
					</button>
					<button class="paddle" id="right" data-direction="next">
						<i class="icon-arrow-right"></i>
					</button>
				</div>
			</div>
			<!-- Then add in the Instagram images -->
			{{#each images}}
				{{> cards_instagram_photo}}
			{{/each}}
		</div>
		{{#if photosAreLoading}}
			<span class="loadingmore">
				Loading photos &hellip;
			</span>
		{{else}}
			{{#unless allPhotosLoaded}}
				<button class="loadmore" id="loadmore">
					Load more photos
				</button>
			{{/unless}}
		{{/if}}
	</section>
</template>