<head>
	<!-- <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"/> -->
    <!-- <meta name="mobile-web-app-capable" content="yes"/> -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"/> -->
    <meta charset="UTF-8" /> 
    <!-- @TODO: App icons need to go in here -->
</head>
<body>
</body>

<template name="template_main">
	<div class="container">
		<div class="wrapper">
			{{> yield region="header"}}
		</div>
		<div class="wrapper">
			{{> yield region="content"}}
		</div>
		<div class="wrapper">
			{{> yield region="footer"}}
		</div>
	</div>
</template>