<meta charset="UTF-8" />
<title>{{page.fields.title}}</title>
<meta name="description" content="{{page.fields.description}}" />
<meta name="author" content="Cry Monster Cry" />
<link rel="canonical" content="http://crymonstercry.com/{{page.fields.identifier}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@crymonstercry" />
<meta name="twitter:creator" content="@crymonstercry" />
<meta name="twitter:image:src" content="http://crymonstercry.com/images/landing.jpg" />
<meta name="twitter:title" content="{{page.fields.title}}" />
<meta name="twitter:url" content="http://crymonstercry.com/{{page.fields.identifier}}" />
<meta name="twitter:description" content="{{page.fields.description}}" />
<meta property="og:url" content="http://crymonstercry.com/{{page.fields.identifier}}" />
<meta property="og:site_name" content="Cry Monster Cry" />
<meta property="og:type" content="music.musician" />
<meta property="og:title" content="{{page.fields.title}}" />
<meta property="og:description" content="{{page.fields.description}}" />
<meta property="og:image" content="http://crymonstercry.com/images/landing.jpg" />
